---
---

@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');

h1 {
    font-family: 'Baloo Paaji 2', cursive;
}

h2 {
    font-family: 'Baloo Paaji 2', cursive;
}

h3 {
    font-family: 'Baloo Paaji 2', cursive;
}

p {
    font-family: 'Baloo Paaji 2', cursive;
}

a {
    font-family: 'Baloo Paaji 2', cursive;
}

ul {
    list-style-type: none;
}

li {
    padding: 10px;
}

.text-block {
    text-align: center;
    margin: 0 auto;
    background-color: rgba(255,255,255,.8);
    font-family: 'Baloo Paaji 2', cursive;
    border-radius: 10px;
}

.text-block-minus-color {
    text-align: center;
    margin: 0 auto;
    font-family: 'Baloo Paaji 2', cursive;
}

body {
    background-image: url('{{ site.baseurl }}/css/background.svg');
    /* background-repeat: no-repeat;
    background-size: cover; */
    background-size: 100vw 100%;
    margin: auto;
    width: 95%;
    min-height: 100vh;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	z-index: 1;
}

.container {
    line-height: 1.4;
    text-align: center;
    padding: 44px;
    color: #333;
  }
  
  h1 {
    font-size: 50px;
  }
  
  p {
    font-size: 18px;
  }
  p small {
    font-size: 80%;
    color: #666;
  }
  
  .highlight-container, .highlight {
    position: relative;
  }
  
  .highlight-container {
    display: inline-block;
  }
  .highlight-container:before {
    content: " ";
    display: block;
    height: 70%;
    width: 100%;
    margin-left: -3px;
    margin-right: -3px;
    position: absolute;
    background: #a5ffd6;
    transform: rotate(2deg);
    top: -1px;
    left: -1px;
    border-radius: 20% 25% 20% 24%;
    padding: 10px 3px 3px 10px;
  }

.container {
    text-align: center;
}

.image-container {
    display: none;
    margin-top: 20px;
}